<h1>Lists</h1>
<div class= "container">
<% @lists.each do |list| %>
<div class="card"><%= link_to list.name, list_path(list) %></div>
<% end %>
<%= cl_image_tag("WhatsApp_Image_2021-11-12_at_12.15.39_c6md3k",
      width: 400, height: 300, crop: :fill) %>
</div>

<%= link_to 'New list', new_list_path %>
