<h1> <%= @list.name %></h1>

<div class= container></div>
<% @bookmarks.each do |bookmark| %>
<div class="card"><%= bookmark %></div>
<% end %>
<%= link_to 'My lists', lists_path %>
<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
